.box{
    width: 100px;
    height: 100px;
    background-color:aquamarine;
    transform: translate(100px, 100px);
    /* transform: scale(5.1)
        transform: scew(1deg)
        transform: rotate (270deg)
        */
}